@model Lexicon_LMS.Models.ViewModels.TeacherPageViewModel
<h3>Teacher</h3>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row mt-5 mb-5">
    <div class="col-sm-12">
        <a asp-controller="Courses" asp-action="Create" class="btn btn-primary mr-3">Add Course</a>
    </div>
</div>
<hr />

<div class="  row justify-content-around">
    <div class="col-6">
        <h5>Current Courses</h5>
        <hr />
        <div class="backcard border-success">
            <ul>
                @*//@{int i = 0; }*@
                @if (Model != null)
                {
                    @if (Model.OnGoingCourses.Count > 0)
                    {

                        @foreach (var item in Model.OnGoingCourses)
                        {
                            //i++;
                            <li>
                                <h5> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>

                            </li>
                            //TODO fix modeule for each course

                            @foreach (var item1 in Model.onGoingModules)
                            {
                                @if (item1.CourseId == item.Id)
                                {
                                   
            <ol>
                
                    <h8> <a asp-controller="Module" asp-action="ModuleDetails" asp-route-id="@item1.Id">@item1.ModuleName</a></h8>
               
            </ol>
                                        
                                   
                                }

                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-6">
        <h5>Future Courses</h5>
        <hr />
        <div class="backcard border-success ">
            <ul>
                @if (Model != null)
                {
                    @if (Model.futureCourses.Count > 0)
                    {
                        @foreach (var item in Model.futureCourses)
                        {
                            <li>
                                <h5> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>

</div>
<hr />
<div class="  row justify-content-around">
    <div class="col-6">
        <h5>Past Courses</h5>
        <hr />
        <div class="backcard border-danger">
            <ul>
                @if (Model != null)
                {
                    @if (Model.pastCourses.Count > 0)
                    {
                        @foreach (var item in Model.pastCourses)
                        {
                            <li>
                                <h5> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-6">
        <h5>Submitted Assignments</h5>
        <hr />
        <div class="backcard border-success">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Course Name
                        </th>
                        <th>
                           Module
                        </th>
                        <th>
                            Activity
                        </th>
                        <th>
                            Submittion Time
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
