@model Lexicon_LMS.Models.ViewModels.TeacherPageViewModel
<h3>Teacher</h3>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row mt-5 mb-5">
    <div class="col-sm-12">
        <a class="btn btn-primary mr-3" asp-controller="Courses" asp-action="Create">Add Course</a>
    </div>
</div>

<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#current">Current Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#future">Future Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#past">Past Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#assignments">Assignments</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="current" class="container tab-pane active">
            <br>
            <div class="row">
                <h3 class="col-4">Current Courses</h3>
                <h3 class="col-4">Current Module</h3>
            </div>
            <hr />


            <ul>

                @if (Model != null)
                {
                    @if (Model.OnGoingCourses.Count > 0)
                    {

                        @foreach (var item in Model.OnGoingCourses)
                        {
                            //i++;
                            <li>
                                <div class="row">
                                    <h5 class="col-4"> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>
                                    <h5 class="col-4">
                                        @foreach (var item1 in Model.onGoingModules)
                                        {
                                            @if (item1.CourseId == item.Id && item1.StartDate <= DateTime.Now.Date && item1.EndDate >= DateTime.Now.Date)
                                            {
                                                <a class="row" asp-controller="courses" asp-action="Details" asp-route-moduleId="@item1.Id" asp-route-id="@item.Id">@item1.ModuleName</a>

                                            }
                                        }
                                    </h5>
                                </div>
                                
                                <hr />
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        <div id="future" class="container tab-pane fade">
            <h5>Future Courses</h5>
            <hr />
            <div class="backcard border-success ">
                <ul>
                    @if (Model != null)
                    {
                        @if (Model.futureCourses.Count > 0)
                        {
                            @foreach (var item in Model.futureCourses)
                            {
                                <li>
                                    <h5> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>



        <div id="past" class="container tab-pane fade">
            <h5>Past Courses</h5>
            <hr />
            <div class="backcard border-danger">
                <ul>
                    @if (Model != null)
                    {
                        @if (Model.pastCourses.Count > 0)
                        {
                            @foreach (var item in Model.pastCourses)
                            {
                                <li>
                                    <h5> <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a></h5>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>



        <div id="assignments" class="container tab-pane fade">
            <h5>Submitted Assignments</h5>
            <hr />
            <div class="backcard border-success">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Course Name
                            </th>
                            <th>
                                Module
                            </th>
                            <th>
                                Activity
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Submittion Time
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assignment in Model.Assignments)
                        {
                            //TODO fix this listing it does not work, cuasese crashes
                            @if (assignment.Activity.Module != null)
                            {
                                <tr>
                                    <td>
                                        @assignment.Activity.Module.Course.CourseName
                                    </td>
                                    <td>
                                        @assignment.Activity.Module.ModuleName
                                    </td>
                                    <td>
                                        @assignment.Activity.ActivityName
                                    </td>
                                    <td>
                                        @assignment.User.UserName
                                    </td>
                                    <td>
                                        @assignment.UploadDate.ToString("g")
                                    </td>
                                    <td>
                                        <a asp-controller="document" asp-action="details" asp-route-id="@assignment.Id" class="btn btn-info">View</a>

                                    </td>
                                </tr>
                            }


                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>




@section scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="  https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
}