@model IEnumerable<Lexicon_LMS.Models.ViewModels.CourseActivityViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Activity" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ActivityName)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityTypeName)
            </td>
        </tr>
}
    </tbody>
</table>
