@model Lexicon_LMS.Models.ViewModels.CourseActivityViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    var activitytype = 3;
}

    <h1> Course: @Model.CourseName</h1>
    <h2> Module: @Model.ModuleName</h2>
<h3> @Html.DisplayFor(model => model.ActivityName)</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ActivityTypeName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ActivityTypeName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

            </dl>
        </div>
        @if (Model.TeacherDocuments != null && Model.TeacherDocuments.Count > 0)
        {
            <div class="col">
                <h5>Activity Files:</h5>
                @foreach (var doc in Model.TeacherDocuments)
                {
                    <div>
                        <a asp-controller="Document" asp-action="Details" asp-route-id="@doc.Id">
                            @Html.DisplayFor(modelItem => doc.Name)
                        </a>
                    </div>
                }
            </div>
        }

    </div>

    <h4>Description</h4>
    <p>@Html.DisplayFor(model => model.ActivityDescription)</p>
    <hr />
</div>

<div class="container mb-5">
    <div class="row">
        @if (User.IsInRole("Student") && Model.MyStudentDocument != null)
        {
            <h4 class="text-success col-12"> You Have handed in this assignment</h4>
            <div class="row col-12">
                <div class="col-sm-4">
                    <a asp-controller="Document" asp-action="Details" asp-route-id="@Model.MyStudentDocument.Id">
                        @Model.MyStudentDocument.Name
                    </a>
                </div>
                <div class="col-sm-8">
                    <a>@Model.MyStudentDocument.UploadDate</a>
                </div>
            </div>
        }
    </div>
</div>


@if (User.IsInRole("Teacher") && Model.StudentDocuments != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Hand in
                </th>
                <th>
                    Upploader
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model.StudentDocuments)
            {
            <tr>
                <td>
                    <a asp-controller="Document" asp-action="Details" asp-route-id="@doc.Id">
                        @Html.DisplayFor(modelItem => doc.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(model => doc.UpploaderName)
                </td>
            </tr>
            }
        </tbody>
    </table>
}


<div>
    @if (User.IsInRole("Teacher"))
    {
        <a class="btn btn-warning" asp-controller="Activity" asp-action="Edit" asp-route-Id="@Model.Id" asp-route-courseId="@Model.CourseId">Edit Activity</a>
        <a class="btn btn-primary mr-3" asp-controller="Document" asp-action="Create" asp-route-holderId="@Model.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-route-holderType="@activitytype">Add Activity File</a>
    }

    @if (User.IsInRole("Student") && Model.ActivityTypeName == "Assignment" && Model.MyStudentDocument == null)
    {
        <a class="btn btn-success text-white" asp-controller="Document" asp-action="Create" asp-route-holderId="@Model.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-route-holderType="@activitytype">Hand in Assignment</a>
    }
    <a class="btn btn-primary" asp-controller="Courses" asp-action="Details" asp-route-Id="@Model.CourseId">Back to course</a>
</div>
