@model Lexicon_LMS.ViewModels.Student.StudentStartViewModel

<h1 class="mb-5">Course overview: @Model.CourseName</h1>

<h3 class="mb-5">Current module: <a asp-controller="Courses" asp-action="Details" asp-route-moduleId="@Model.OnGoingModules.FirstOrDefault().Id" asp-route-id="@Model.OnGoingModules.FirstOrDefault().CourseId">@Model.OnGoingModules.FirstOrDefault().ModuleName</a> </h3>

<div class="  row justify-content-around mb-5">
    
</div>

<div class="  row justify-content-around mb-5">

    <div class="col-6 mb-5">
        <h5>Ongoing Activites</h5>
        <hr />
        <div class="backcard border-success">
            <ul>
                @*//@{int i = 0; }*@
                @if (Model != null)
                {
                    @if (Model.OnGoingActivites.Count() > 0)
                    {
                        @foreach (var activity in Model.OnGoingActivites.Where(a=>a.ActivityType.Name!="Assignment"))
                        {
                            <li class="row">
                                <h5 class="col-6"> <a asp-controller="Activity" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-id="@activity.Id">@activity.ActivityName</a></h5>
                                <h5 class="col-6">@activity.ActivityType.Name</h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No ongoing activites</li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="col-6 mb-5">
        <h5>Ongoing assignments</h5>
        <hr />
        <div class="backcard border-success ">
            <ul>
                @*//@{int i = 0; }*@
                @if (Model != null)
                {
                    @if (Model.OnGoingAssignments.Count() > 0)
                    {
                        @foreach (var activity in Model.OnGoingAssignments)
                        {
                            <li>
                                <h5> <a asp-controller="Activity" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-id="@activity.Id">@activity.ActivityName</a> <span class="float-right">Last submittion date is @activity.EndDate.ToShortDateString()</span></h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No ongoing assignments</li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="col-6 mb-5">
        <h5>Submitted Assignments</h5>
        <hr />
        <div class="backcard border-success">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Course Name
                        </th>
                        <th>
                            Module
                        </th>
                        <th>
                            Activity
                        </th>
                        <th>
                            Submittion Time
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-6 mb-5">
        <h5 class="text-danger">Late Assignments</h5>
        <hr />
        <div class="backcard border-success ">
            <ul>
                @*//@{int i = 0; }*@
                @if (Model != null)
                {
                    @if (Model.LateAssignments.Count() > 0)
                    {
                        @foreach (var assignment in Model.LateAssignments)
                        {
                            //i++;
                            <li>
                                <h5> <a asp-controller="Activity" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-id="@assignment.Id">@assignment.ActivityName</a> <span class="float-right">Last submittion date is @assignment.EndDate.ToShortDateString()</span></h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li>You don't have any late assignments</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
   
    

