@model Lexicon_LMS.ViewModels.Student.StudentStartViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<h1 class="mb-5"><a asp-controller="Courses" asp-action="Details" asp-route-Id="@UserManager.GetUserAsync(User).Result.CourseId">@Model.CourseName</a></h1>

<h3>
    Current Module:
    <a asp-controller="Courses" asp-action="Details" asp-route-moduleId="@Model.CurrentModule.Id" asp-route-id="@Model.CourseId">@Model.CurrentModule.ModuleName</a>
</h3>


<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#oactivities">Ongoing Activites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sassignments">Assignments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#fmodules">Future Modules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pmodules">Past Modules</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="oactivities" class="container tab-pane active">
            <br>
            <h3>OnGoing Activities</h3>

            <ul>

                @if (Model != null)
                {
                    @if (Model.OnGoingActivites.Count() > 0)
                    {

                        @foreach (var activity in Model.OnGoingActivites)
                        {
                            if (activity.ActivityType != null)
                            {
                                <li class="row">
                                    <h5 class="col-4"> <a asp-controller="Activity" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-id="@activity.Id">@activity.ActivityName</a></h5>
                                    <h5 class="col-4">@activity.ActivityType.Name</h5>
                                </li>
                                <hr />
                            }
                        }
                    }
                    else
                    {
                        <li>No ongoing activites</li>
                    }
                }

            </ul>

        </div>

        <div id="sassignments" class="container tab-pane fade">
            <br>
            <h3>Assignments</h3>
            <ul>

                @if (Model != null)
                {
                    @if (Model.OnGoingAssignments.Count() > 0)
                    {

                        @foreach (var activity in Model.OnGoingAssignments)
                        {

                            <li>
                                <h5> <a asp-controller="Activity" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-id="@activity.Id">@activity.ActivityName</a> <span class="float-right">Last submittion date is @activity.EndDate.ToShortDateString()</span></h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No ongoing assignments</li>
                    }
                }

            </ul>
            <h5>Late Assignments</h5>
            <hr />
            <div class=" border-success ">
                <ul>

                    @if (Model != null)
                    {
                        @if (Model.LateAssignments.Count() > 0)
                        {

                            @foreach (var assignment in Model.LateAssignments)
                            {
                                //i++;
                                <li>
                                    <h5> <a asp-controller="Activity" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-id="@assignment.Id">@assignment.ActivityName</a> <span class="float-right">Last submittion date is @assignment.EndDate.ToShortDateString()</span></h5>
                                </li>

                            }
                        }
                        else
                        {
                            <li>You don't have any late assignments</li>
                        }
                    }
                </ul>


            </div>
        </div>
        <div id="fmodules" class="container tab-pane fade">
            <br>
            <h3>Future Modules</h3>
            <ul>
                @if (Model != null)
                {
                    @if (Model.FutureModules.Count > 0)
                    {
                        @foreach (var item in Model.FutureModules)
                        {
                            <li>
                                <h5> <a asp-controller="Courses" asp-action="Details" asp-route-moduleId="@item.Id" asp-route-id="@Model.CourseId">@item.ModuleName</a></h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No future modules</li>
                    }
                }

            </ul>


        </div>
        <div id="pmodules" class="container tab-pane fade">
            <br>
            <h3>Past Modules</h3>
            <ul>
                @if (Model != null)
                {
                    @if (Model.PastModules.Count > 0)
                    {
                        @foreach (var item in Model.PastModules)
                        {
                            <li>
                                <h5> <a asp-controller="courses" asp-action="Details" asp-route-moduleId="@item.Id" asp-route-id="@Model.CourseId">@item.ModuleName</a></h5>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No past modules</li>
                    }
                }

            </ul>


        </div>
    </div>
</div>

@section scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="  https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
}
