@model Lexicon_LMS.ViewModels.Courses.CourseDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CourseName <span class="course-start-label">@Model.StartDate.ToShortDateString()</span></h1>

<div>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mt-5">Level</h5>
            <p>@Model.Description</p>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                @foreach (var module in Model.Modules)
                {
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <span class="module-start-label">@module.StartDate.ToShortDateString() - @module.EndDate.ToShortDateString() </span>
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    @module.ModuleName
                                </button>

                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>@module.Description</p>
                                <a class="btn btn-success" asp-action="Create" asp-controller="Activity" asp-route-moduleId="@module.Id">Add activity</a>
                                @if (module.Activities != null && module.Activities.Count() > 0)
                                {
                                    <partial name="~/Views/Activity/ActivityListPartial.cshtml" for="@module.Activities" />
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Teacher"))
        {
            <div class="row mt-5 mb-5">
                <div class="col-sm-12">
                    <a asp-controller="Module" asp-action="ModuleCreate" asp-route-CourseId="@Model.Id" class=" btn btn-primary mr-3">Add Module</a>
                    <a asp-action="AddParticipant" class="btn-primary mr-3">Add Participant</a>
                    <button class="btn-primary mr-3">Add Course Files</button>

                </div>
            </div>
        }
    }
</div>


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Teacher"))
    {
        <div>
            <a class="btn btn-info" asp-action="Index">All Courses</a>
            <a class="btn btn-danger float-right" asp-action="Delete" asp-route-id="@Model.Id">Delete Course</a>
            <a class="btn btn-warning float-right mr-2" asp-action="Edit" asp-route-id="@Model.Id">Edit Course</a>

        </div>
    }
}
