@model Lexicon_LMS.ViewModels.Courses.CourseDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Details";
    var coursetype = 1;
    var moduletype = 2;
    var activitytype = 3;
}

<h1>@Model.CourseName <span class="course-start-label bg-transparent">@Model.StartDate.ToShortDateString()</span></h1>
<a class="btn btn-primary float-right" asp-action="ShowPaticipants" asp-route-courseId="@Model.Id">View course Participants</a>
<div>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mt-5">Level</h5>
            <p>@Model.Description</p>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                @foreach (var module in Model.Modules)
                {
                    <div class="card bg-transparent">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <span class="module-start-label bg-transparent">@module.StartDate.ToShortDateString() - @module.EndDate.ToShortDateString() </span>
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#module-@module.Id" aria-expanded="true" aria-controls="module-@module.Id">
                                    @module.ModuleName
                                </button>
                                @if (User.IsInRole("Teacher"))
                                {
                                    <a class="btn btn-danger float-right" asp-action="Delete" asp-controller="Module" asp-route-Id="@module.Id">Delete Module</a>
                                }
                            </h2>
                        </div>

                        <div id="module-@module.Id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>@module.Description</p>
                                @if (User.IsInRole("Teacher"))
                                {
                                    <a class="btn btn-primary mb-4" asp-action="Create" asp-controller="Activity" asp-route-moduleId="@module.Id">Add activity</a>
                                }
                                @if (module.Activities != null && module.Activities.Count() > 0)
                                {
                                    <partial name="~/Views/Activity/ActivityListPartial.cshtml" for="@module.Activities" />
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Teacher"))
        {
            <div class="row mt-5 mb-5">
                <div class="col-sm-12">
                    <a asp-controller="Module" asp-action="ModuleCreate" asp-route-CourseId="@Model.Id" class=" btn btn-primary mr-3">Add Module</a>
                    <a asp-action="AddParticipant" asp-route-courseId="@Model.Id" class="btn btn-primary mr-3">Add Participant</a>
                    <a asp-controller="Document" asp-action="Create" asp-route-holderId="@Model.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-route-holderType="@coursetype" class="btn btn-primary mr-3">Add Course Files</a>
                </div>
            </div>
        }
    }
</div>


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Teacher"))
    {
        <div>
            <a class="btn btn-info" asp-action="Index">All Courses</a>
            <a class="btn btn-danger float-right" asp-action="Delete" asp-route-id="@Model.Id">Delete Course</a>
            <a class="btn btn-warning float-right mr-2" asp-action="Edit" asp-route-id="@Model.Id">Edit Course</a>

        </div>
    }
}
