@model Lexicon_LMS.Models.ViewModels.DocumentViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DocumentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class="col-sm-2">
            Upploader:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpploaderName)
        </dd>

    </dl>
    <button id="addComments" class="btn btn-primary btn-sm mb-3">Add comments</button>
    <form style="display:none;" class="mb-5"  id="commentForm" asp-action="AddComments"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="after"
              data-ajax-update="#comments"
              data-ajax-success="RemoveForm"
              data-ajax-failure="Fail"
          >
        <input asp-for="Id" type="hidden" value="@Model.Id" />
        <textarea asp-for="NewComments" rows="4" cols="50">Add comments here</textarea>
        <button type="submit">Save comment</button>
    </form>
</div>
<div>
    <h3>Comments for this assignment</h3>
    <hr />
    <ul id="comments" class="list-group mb-5">
        @foreach (var item in Model.Comments)
        {
            <li class="list-group-item">
                <div>
                    <span class="font-weight-bold">From @item.User.UserName</span> 
                    <span class="float-right font-weight-bold">Date @item.Date.ToShortDateString() </span>
                </div>
                <div class="mt-3">
                    @item.Comments
                </div>
            </li>
        }
    </ul>
</div>
<div>
    @if (UserManager.GetUserId(User) == Model.UserId)
    {
        <a asp-controller="Document" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>

    }
    <a asp-controller="Document" asp-action="Download" asp-route-id="@Model.Id" class="btn btn-primary">Donwload</a>
    <a class="btn btn-primary" href="##" onclick="history.go(-1); return false;">Back</a>
</div>
